<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <!--用简单工厂实现客人点菜，而不是让客人自己做菜 引用如下配置 -->
  <appSettings>
    <add key="Vegetable" value="FirstModel,FirstModel.Vegetable"/>
    <add key="Fish" value="FirstModel,FirstModel.Fish"/>
    <add key="TomatoScrambledEggs" value="FirstModel,FirstModel.TomatoScrambledEggs"/>
  </appSettings>
</configuration>